@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

body {
  @apply min-h-screen w-screen overflow-x-hidden bg-slate-50;
}

.container {
  @apply px-4 md:px-12 lg:px-0;
}

@layer components {
  .headline-underline {
    @apply underline underline-offset-8 decoration-10;
  }
}
